.cart-container {
  padding: 2rem;
}

.cart-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.cart-item img {
  width: 100px;
  height: auto;
}

.cart-item input {
  width: 50px;
  padding: 0.25rem;
}

.cart-item button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}
